@use './assets/scss/config'as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: $primary-font;
    font-size: 1.6rem;
    background: #fff;
    color: $primary-color;
    min-height: 100vh;
    max-width: 100vw;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    color: inherit;
    line-height: inherit;
    border: 0;
    background: none;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }

    &:focus,
    &:focus-visible,
    &:focus-within {
        outline: 0;
    }
}

header {
    display: flex;
    align-items: center;
    position: relative;
    height: 11.2rem;
    margin: 0 16.5rem;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        background: #E4E9F2;
    }

    .mobile-nav-control {
        display: none;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .header__logo {
        display: block;
        width: 13.75rem;
        height: 2rem;
        margin-right: 5.65rem;
    }

    .mobile-nav-backdrop {
        display: none;
    }

    .header__nav {
        display: flex;
        align-items: center;
        gap: 3.6rem;
        font-size: 1.5rem;
        line-height: 2.6rem;
        height: 100%;

        .mobile-nav-close {
            display: none;
        }

        a {
            display: flex;
            align-items: center;
            position: relative;
            height: 100%;

            &:hover {
                color: $secondary-color;

                &::after {
                    content: '';
                    position: absolute;
                    height: 4px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $brand-color;
                }
            }
        }
    }

    .header__right {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 4.62rem;

        .header__cart {
            width: 2.18rem;
            height: 2rem;
            cursor: pointer;
            position: relative;

            &:hover {
                color: $secondary-color;
            }

            &.header__cart--active {
                &::after {
                    content: attr(data-quantity-in-cart);
                    position: absolute;
                    top: -6px;
                    right: -6.18px;
                    background: #FF7E1B;
                    border-radius: 6.5px;
                    width: 1.9rem;
                    height: 1.3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 700;
                    font-size: 1rem;
                    line-height: 1.2rem;
                    color: #fff;
                }
            }
        }

        picture {
            display: block;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                border: 2px solid $brand-color;
            }
        }
    }

    .cart-box {
        width: 36rem;
        position: absolute;
        top: 9.4rem;
        right: -7.6rem;
        z-index: 50;
        background: #FFFFFF;
        box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
        border-radius: 10px;
        display: none;

        &.cart-box--open {
            display: block;
        }

        &.cart-box--is-empty {
            height: 25.6rem;

            .cart-content {
                padding: 0;

                .cart__items {
                    display: none;
                }

                .checkout {
                    display: none;
                }

                .cart--is-empty {
                    display: block;
                    font-weight: 700;
                    font-size: 1.6rem;
                    line-height: 2.6rem;
                    text-align: center;
                    padding-top: 7.7rem;
                }
            }
        }

        h4 {
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 2rem;
            color: $secondary-color;
            padding: 2.4rem 2.4rem 2.7rem;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px;
                background: #E4E9F2;
            }
        }

        .cart-content {
            padding: 2.4rem 2.4rem 3.2rem;

            img {
                width: 100%;
                height: 100%;
            }

            .cart__items {
                margin-bottom: 2.4rem;

                .cart-item {
                    list-style: none;
                    display: flex;
                    align-items: center;

                    .cart-item-thumbnail {
                        display: block;
                        width: 5rem;
                        height: 5rem;
                        border-radius: 4px;
                        overflow: hidden;
                    }

                    .cart-item-text {
                        display: flex;
                        flex-direction: column;
                        font-size: 1.6rem;
                        line-height: 2.6rem;
                        margin-right: 1.8rem;
                        margin-left: 1.6rem;

                        .cart-item-amount {
                            display: flex;
                            align-items: center;
                            gap: 1rem;

                            .cart-item-total {
                                color: $secondary-color;
                                font-weight: 700;
                            }
                        }
                    }

                    .cart-item-delete {
                        width: 1.4rem;
                        height: 1.6rem;
                    }
                }
            }

            .checkout {
                background: #FF7E1B;
                border-radius: 10px;
                width: 100%;
                height: 5.6rem;
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 2rem;
                color: #fff;

                &:hover {
                    background: #FFAB6A;
                }

                &:disabled {
                    background: $primary-color;
                    color: #FFAB6A;
                }
            }

            .cart--is-empty {
                display: none;
            }
        }
    }
}

main {
    padding: 9rem 21.3rem 13.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.gallery {
    width: 44.5rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    img {
        width: 100%;
        height: 100%;
    }

    .carousel-control {
        display: none;
    }

    .gallery__selected {
        display: block;
        width: 100%;
        height: 44.5rem;
        overflow: hidden;
        border-radius: 15px;
        cursor: pointer;
    }

    .thumbnails {
        display: flex;
        align-items: center;
        gap: 3.1rem;

        picture {
            display: block;
            width: 8.8rem;
            height: 8.8rem;
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;
            position: relative;

            &.thumbnails__thumbnail--active {
                border: 2px solid $brand-color;

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background: transparentize($color:#fff, $amount: 0.25);
                }
            }

            &:hover:not(&.thumbnails__thumbnail--active) {
                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background: transparentize($color:#fff, $amount: 0.5);
                }
            }
        }
    }
}

.item-description {
    width: 44.5rem;

    h1 {
        color: $brand-color;
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 1.6rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 2.4rem;
    }

    h2 {
        color: $secondary-color;
        font-weight: 700;
        font-size: 4.4rem;
        line-height: 4.8rem;
        margin-bottom: 3.2rem;
    }

    .item-description__description {
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin-bottom: 2.4rem;
    }

    .item-description__price {
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 3.5rem;
        margin-bottom: 1rem;
        color: $secondary-color;
        display: flex;
        align-items: center;
        gap: 1.6rem;

        .item-description__promo {
            background: #FFEEE2;
            border-radius: 6px;
            width: 5.1rem;
            height: 2.7rem;
            font-size: 1.6rem;
            line-height: 2rem;
            color: $brand-color;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .item-description__old-price {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2.6rem;
        -webkit-text-decoration-line: line-through;
        text-decoration-line: line-through;
        color: #B6BCC8;
    }

    .add-to-cart {
        margin-top: 3.2rem;
        display: flex;
        gap: 1.6rem;
        align-items: center;

        .add-to-cart__control {
            background: #F6F8FD;
            border-radius: 10px;
            height: 5.6rem;
            width: 15.7rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1.6rem;

            figure {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            button {
                color: $brand-color;
                background: none;
                height: 100%;

                &:hover {
                    color: #FFAB6A;
                }
            }

            span {
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 2rem;
                text-align: center;
                color: $secondary-color;
            }
        }

        .add-to-cart__button {
            background: $brand-color;
            box-shadow: 0px 20px 50px -20px $brand-color;
            border-radius: 10px;
            width: 27.2rem;
            height: 5.6rem;
            gap: 1.6rem;
            color: #fff;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 2rem;

            &:hover {
                background: #FFAB6A;
            }

            &:disabled {
                background: $primary-color;
                color: #FFAB6A;
            }
        }
    }
}

.lightbox {
    display: none;
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100vw;
    background: transparentize($color: #000, $amount: 0.25);
    mix-blend-mode: normal;
    z-index: 100;

    &.lightbox--is-open {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gallery {
        gap: 0;
        width: 55rem;
        position: relative;

        .lightbox-close {
            color: #fff;
            margin-left: auto;
            margin-bottom: 2.4rem;
            font-size: 2rem;
            line-height: 2rem;

            &:hover {
                color: $brand-color;
            }
        }

        .carousel-control {

            button {
                color: $secondary-color;
                width: 5.6rem;
                height: 5.6rem;
                border-radius: 50%;
                position: absolute;
                background: #fff;
                top: 28.1rem;

                &:hover {
                    color: $brand-color;
                }
            }

            .carousel-prev {
                left: -2.8rem;
            }

            .carousel-next {
                right: -2.8rem;
            }
        }

        .gallery__selected {
            height: 55rem;
        }

        .thumbnails {
            margin-top: 4rem;
            justify-content: center;
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $brand-color;
    border-radius: 4px;
}

@media all and (min-width:1500px){
    main{
        justify-content: flex-start;
        gap: 20rem;
    }
}

@media all and (max-width:1300px) {
    header {
        margin: 0 10rem;
    }

    main {
        padding: 9rem 10rem 13.2rem;
    }
}

@media all and (max-width:1150px) {
    header {
        margin: 0 8rem;
    }

    main {
        padding: 9rem 8rem 13.2rem;
    }

    .gallery,
    .item-description {
        width: 40rem;
    }

    .gallery {
        .gallery__selected {
            height: 40rem;
        }

        .thumbnails {
            gap: 2rem;
        }
    }
}

@media all and (max-width:1000px) {
    header {
        margin: 0 5rem;

        .cart-box {
            right: -2.6rem;
        }
    }

    main {
        padding: 9rem 5rem;
        gap: 4rem;
        justify-content: center;
    }

    .gallery,
    .item-description {
        width: 30rem;
    }

    .gallery {
        .gallery__selected {
            height: 30rem;
        }

        .thumbnails {
            gap: 1rem;

            picture {
                width: 7rem;
                height: 7rem;
            }
        }
    }

    .item-description {
        h1 {
            margin-bottom: 1.8rem;
        }

        h2 {
            font-size: 3.6rem;
            line-height: 4rem;
            margin-bottom: 2.4rem;
        }

        .add-to-cart {
            margin-top: 2.4rem;

            .add-to-cart__control {
                width: 10rem;
                height: 4.8rem;
            }

            .add-to-cart__button {
                width: 18rem;
                height: 4.8rem;
            }
        }
    }

    .lightbox {
        .gallery {
            width: 40rem;

            .carousel-control {
                button {
                    top: 22rem;
                    width: 4rem;
                    height: 4rem;
                }

                .carousel-next {
                    right: -2rem;
                }

                .carousel-prev {
                    left: -2rem;
                }
            }

            .gallery__selected {
                height: 40rem;
            }
        }
    }
}

@media all and (max-width: 850px) {
    header {
        .mobile-nav-control {
            display: flex;
            margin-right: 1.6rem;
            margin-top: 0.4rem;

            &:hover {
                color: $brand-color;
            }
        }

        .header__nav {
            position: fixed;
            height: 100vh;
            top: 0;
            bottom: 0;
            left: 0;
            width: 25rem;
            background: #fff;
            z-index: 200;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.6rem;
            color: $secondary-color;
            padding: 9.2rem 2.5rem 3rem;
            display: none;


            &.header__nav--is-open {
                display: flex;

                ~.mobile-nav-backdrop {
                    display: block;
                    position: fixed;
                    background: transparentize($color: #000, $amount: 0.25);
                    inset: 0;
                    z-index: 199;
                }

            }

            .mobile-nav-close {
                display: inline-block;
                position: absolute;
                top: 2.5rem;
                color: $primary-color;

                &:hover {
                    color: $brand-color;
                }
            }

            a {
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;
            }
        }

        .header__right {
            gap: 2.2rem;

            picture {
                width: 3.6rem;
                height: 3.6rem;
            }
        }
    }
}

@media all and (max-width: 750px) {
    header {
        margin: 0;
        height: 6.8rem;
        padding: 1.9rem 0 2.5rem;

        .mobile-nav-control {
            margin-left: 2.4rem;
        }

        .header__right {
            margin-right: 2.4rem;

            picture {
                width: 2.4rem;
                height: 2.4rem;
            }
        }

        .cart-box {
            right: 2.3rem;
            top: 100%;
        }
    }

    main {
        padding: 5rem 5rem 10rem;
        flex-direction: column;
    }

    .item-description,
    .gallery {
        width: 100%;
    }

    .gallery {
        position: relative;
        justify-content: center;

        .gallery__selected {
            height: 45rem;
        }

        .carousel-control {
            display: contents;

            button {
                width: 4rem;
                height: 4rem;
                background: #fff;
                border-radius: 50%;
                position: absolute;
                margin: auto 0;
                color: $secondary-color;

                &:hover {
                    color: $brand-color;
                }
            }

            .carousel-prev {
                left: 1.6rem;
            }

            .carousel-next {
                right: 1.6rem;
            }
        }

        .thumbnails {
            display: none;
        }
    }

    .lightbox {
        &.lightbox--is-open {
            display: none;
        }
    }
}

@media all and (max-width: 550px) {
    header {
        .cart-box {
            top: calc(100% + 8px);
            left: 8px;
            right: 7px;
            width: unset;

            .cart-item-delete {
                flex-shrink: 0;
                margin-left: auto;
            }
        }
    }

    main {
        padding: 0;
        gap: 0;
    }

    .gallery {
        .gallery__selected {
            height: 30rem;
            border-radius: 0;
        }
    }

    .item-description {
        padding: 2.4rem 2.4rem 8.8rem;

        h1 {
            font-size: 1.2rem;
            line-height: 1.5rem;
            letter-spacing: 1.84615px;
            margin-bottom: 1.9rem;
        }

        h2 {
            font-size: 2.8rem;
            line-height: 3.2rem;
            margin-bottom: 1.5rem;
        }

        .item-description__description {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }

        .item-description__price-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            .item-description__price {
                margin-bottom: 0;
            }
        }

        .add-to-cart {
            flex-direction: column;
            gap: 1.6rem;

            .add-to-cart__control {
                width: 100%;
                height: 5.6rem;

                button {
                    width: 2.4rem;
                }
            }

            .add-to-cart__button {
                width: 100%;
                height: 5.6rem;
            }
        }
    }
}
